In [7]:
#Code for joining Excel files

#Dependencies
import pandas as pd
import numpy as np
import glob

!ls

config.ipynb
file1.csv
file2.csv
Twitch - Matt Cole.ipynb
Twitch API.ipynb
Untitled.ipynb

In [8]:
glob.glob("*.csv")

['file1.csv', 'file2.csv']

In [10]:
all_data = pd.DataFrame()
for file in glob.glob("*.csv"):
    df = pd.read_csv(file)
    all_data = all_data.append(df,ignore_index=True)
    
all_data.head()

         time           game  followers  viewers
0  12/21/2014       fortnite         10       15
1    1/1/2018  just chatting         45      100

In [15]:
all_data.to_csv("alldata.csv")
#keep index? could be used to see if any files didn't join together