In [72]:
import requests
import json
import pandas as pd
import numpy as np
from pprint import pprint
from datetime import datetime
import time
import glob

In [59]:
clientid= 'rouwd6p819wx3n0d900qty32eg6r0y'
topgame_limit = '30'
streams_limit = '10'
game = 'fortnite'
channel_id = 'ninja'
topgame_url = f"https://api.twitch.tv/kraken/games/top?limit={topgame_limit}&client_id={clientid}"
channel_url = f"https://api.twitch.tv/kraken/channels/{channel_id}?client_id="+clientid
streams_summary_url=f'https://api.twitch.tv/kraken/streams/summary/?game={game}&client_id='+clientid
streams_url =f'https://api.twitch.tv/kraken/streams/?game={game}&client_id={clientid}'

In [60]:
list_25 = np.arange(0,25,1)

In [68]:
import time
ts = time.time()
st = datetime.fromtimestamp(ts).strftime('%Y-%m-%d %H:%M')

'2018-10-04 18:52'

In [40]:
data = pd.DataFrame()
data['Date'] = ''
data['Rank'] = list_25
data['Game'] = ''
data['Viewers'] = ''
data['Channels']=''
data['GiantBomb ID'] =''
pd.to_numeric(data['Viewers'])
pd.to_numeric(data['Channels'])

   Date  Rank Game Viewers Channels GiantBomb ID
0   NaN     0
1   NaN     1
2   NaN     2
3   NaN     3
4   NaN     4
5   NaN     5
6   NaN     6
7   NaN     7
8   NaN     8
9   NaN     9
10  NaN    10
11  NaN    11
12  NaN    12
13  NaN    13
14  NaN    14
15  NaN    15
16  NaN    16
17  NaN    17
18  NaN    18
19  NaN    19
20  NaN    20
21  NaN    21
22  NaN    22
23  NaN    23
24  NaN    24

In [ ]:
loops = np.arange(0,240,1)
for loop in loops:    
    
    response = requests.get(topgame_url).json()

    for index, row in data.iterrows():
    
        import time
        #timestamp
        ts = time.time()
        st = datetime.fromtimestamp(ts).strftime('%Y-%m-%d %H:%M')
        #putting data into list
        game = response['top'][index]['game']['name']
        viewers = response['top'][index]['viewers']
        channels = response['top'][index]['channels']
        giant_id = response['top'][index]['game']['giantbomb_id']
        #appending to dataframe
        data.loc[index, 'Date'] = st
        data.loc[index, 'Game'] = game
        data.loc[index, 'Viewers'] = viewers
        data.loc[index, 'Channels'] = channels
        data.loc[index, 'GiantBomb ID']=giant_id 
    #Push to csv
    data.to_csv(f'file{loop}.csv', index = False)
    #Print statement
    print(f'On loop {loop}')
    print('----------------')  
    #Sleep
    time.sleep(3600)

On loop 0
----------------

In [73]:
!ls
glob.glob("*.csv")

config.ipynb
file0.csv
file1.csv
file2.csv
file3.csv
file4.csv
file5.csv
file6.csv
file7.csv
file8.csv
file9.csv
Join CSV.ipynb
Twitch - Matt Cole.ipynb
Twitch API.ipynb

['file0.csv',
 'file1.csv',
 'file2.csv',
 'file3.csv',
 'file4.csv',
 'file5.csv',
 'file6.csv',
 'file7.csv',
 'file8.csv',
 'file9.csv']

In [74]:
all_data = pd.DataFrame()
for file in glob.glob("*.csv"):
    df = pd.read_csv(file)
    all_data = all_data.append(df,ignore_index=True)

all_data.to_csv("alldata.csv")
#keep index? could be used to see if any files didn't join together